<!-- Header  -->

<div class="topbar">

  <a href="https://www.synevo.ua/uk/" target="blank" class="topbar__logoLink">
    <img src="https://www.synevo.ua/images/email/mail-logo.png" alt="Sinevo" class="topbar__logo">
  </a>

  <div class="topbar__hamburgerWrap" id="divToChange" >
    <a (click)="showSideMenu()" class="topbar__hamburger" href="#">
      <i class="fa fa-align-left fa-2x"></i>
    </a>
  </div>
  
  <div class="topbar__search">
    <input id="input" type="text" size="30" pInputText [(ngModel)]="text" placeholder="Search">
    <span class="fa fa-search"></span>
  </div>

  <div class="topbar__menu" (click)="menu.toggle($event)">
    <p-menu #menu popup="popup" [model]="items2" [style]="{'margin-left':'-28px'}"></p-menu>
    <span class="topbar_username">Name Surname</span>
    <img src="http://www.andreas-wolters.com/img/avatar.png" class="topbar__avatar" alt="Avatar">
    <span pButton icon="fa fa-angle-down" class="topbar_arrowDown"></span>
  </div>

</div>

  <!-- SideMenu  -->

<div class="sidebar" id="bar">
  <p class="sidebar__head--color">Menu</p>
  <p-menu [model]="items2"></p-menu>
</div>



