.bodyWrap {
  display: flex;
}

.userProfile__wrap {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  height: 100%;
  overflow: auto;
  width: 100%;
}

.userProfile {
  width: 860px;
  height: auto;
}

.userProfile__note {
  font-size: 12px;
  font-weight: bold;
  color: #0053A0;
  text-align: center;
}

.ui-message {
  position: absolute;
  right: 3%;
  background-color: #fff !important;
  border: none !important;
  margin-top: 2px !important;
  height: 25px;
}

.relative {
  position: relative;
}

/*Media Queries*/

@media screen and (max-width: 640px) {
  .ui-message {
    top: 30px;
  }
}

/* Sidebar */

.sidebar {
  width: 300px;
  background-color: rgb(243 244 246);
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #d9d9d9;
  margin-right: 5px;
  transition: all 0.4s;
}

.sidebar--color {
  font-size: 16px;
  font-weight: bold;
  color: #0053A0;
}

@media screen and (max-width: 640px) {
  .sidebar {
    position: absolute;
    z-index: 9;
    left: -600px;
  }
  .userProfile__wrap {
    padding-top: 10px;
  }
  .userProfile {
    margin: 0 5px 0 5px;
  }
}

.visible {
  left: 0;
  transition: all 0.4s;
}